.padding-zero
{
    padding: 0px;
}
.main-container
{
    margin-top: 50px;
    padding: 10px;
}
.report-ul li .title
{
    font-weight: bold;
    margin-right: 5px
}
.report-ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.report-ul li
{
    margin: 10px 0px;
}
#error-toast , #success-toast
{ position: fixed; max-width: 500px ; font-family: naskh; min-width: 300px ;  right: 20px ; bottom: 0px ;  z-index: 99999 ; display: none ; color: black}
#error-toast a , #success-toast a { color: black}

.add-task
{
    color: green;
    margin-top: 4px;
    font-size: 18px;
    cursor: pointer;
}

.datepicker
{

    border: solid 1px #eee;
    border-radius: 2px;
    text-align: center;
    margin: 0px 8px;

}
.report-table
{
    list-style: none;
    padding: 0px;
}
.report-table .table-header span
{
    display: inline-block;
}

.ui-widget-header
{
    border:1px solid rgba(136, 136, 136, 0.93);
    background: rgba(136, 136, 136, 0.93);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    color: #2f3031;
}

.search-wrapper .item
{
    float: left;
}
.btn-search
{
    height: 27px !important;
    padding: 4px 11px;
}

@media only screen and (max-width: 500px){
    .btn-search{margin-left: 8px;}
    .datepicker {margin-bottom: 10px;}
}

.cp-header
{
    font-weight: bold;
    margin-top: 3px;
    display: inline-block;
}

.card-header.bg-dark
{
    border-radius: 4px 4px 0px 0px;
}